@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.bottom{
    height: 500px;
    background-color: rgb(248, 247, 247);
    margin-top: 50px;
    width: 100%;
    
    
}

.zomoo{
    height: 28px;
    margin-top: 70px;
    margin-left: 150px;
}

table{
    margin-left: 150px;
    margin-top: 37px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

table th{
    padding-right: 120px;
    padding-bottom: 10px;
}

table tr td{
    padding-bottom: 6px;    
}

.line{
    margin-left: 150px; 
    margin-right: 150px;
}

table i{
    padding-right: 10px;
    border: solid 1px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    
}

i:hover{
    cursor: pointer;
    
}