.vegie{
    padding-left: 600px;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: rgb(255, 129, 129);
    padding-top: 50px;
    padding-bottom: 55px;
}

.vegie input{
    padding: 10px 140px 10px 5px;
    font-size: large;
}

.vegie label{
    font-size: large;   
    margin-bottom: 2px;
    margin-top: 5px;
    color: white;
}

.vegie h1{
    color: white;
    
}

.upload{
    font-size: 21px;
    margin-top: 30px;
    margin-left: 120px;
}